<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       https://www.springframework.org/schema/mvc/spring-mvc.xsd">
        <context:component-scan base-package="com.powernode"></context:component-scan>
        <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                <property name="prefix" value="/WEB-INF/jsp/"/>
                <property name="suffix" value=".jsp"/>
        </bean>
        <mvc:annotation-driven></mvc:annotation-driven>
        
        <mvc:interceptors>
                <!--可以是拦截器链-->
                <mvc:interceptor>
                        <mvc:mapping path="/**"/>
                        <mvc:exclude-mapping path="/showLogin"/>
                        <mvc:exclude-mapping path="/login"/>
                        <bean class="com.powernode.intereptor.LoginIntereptor"/>
                </mvc:interceptor>
        </mvc:interceptors>
</beans>